In [1]:
# Were all stores in the dataset open in 2015? 
#If not, what steps do you think are appropriate to address that?

In [20]:
import pandas as pd
import numpy as np

df = pd.read_csv("Iowa_Liquor_sales_sample_10pct.csv")

#drops NaN rows since such a tiny percentage of total data
df = df.dropna()

#cleans $ symbols from problem columns and turns into useable floats
df["State Bottle Cost"] = df["State Bottle Cost"].apply(lambda x: float(x.replace("$","")))
df["State Bottle Retail"] = df["State Bottle Retail"].apply(lambda x: float(x.replace("$","")))
df["Sale (Dollars)"] = df["Sale (Dollars)"].apply(lambda x: float(x.replace("$","")))

#adds "Year" column for questions 3 and 4
df["Year"] = df["Date"].str[6:10].astype(int)

df.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38,2015
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40,2016
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34,2016
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77,2016
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55,2015

In [21]:
df["Year"].value_counts()

2015    218348
2016     50910
Name: Year, dtype: int64

In [22]:
df["Year"].dtype

dtype('int64')

In [24]:
df.loc[(df["Year"] == 2016), "Store Number"].nunique()

1280

In [23]:
df.loc[(df["Year"] == 2015), "Store Number"].nunique()

1372

In [27]:
#stores open in 2016 that were not open in 2015
only_2016 = set(df.loc[(df["Year"] == 2016), "Store Number"]) - set(df.loc[(df["Year"] == 2015), "Store Number"])
print(only_2016)

{5120, 5130, 5195, 5202, 5211, 9023}

In [41]:
df.loc[(df["Store Number"] == 5120 and df["Store Number"] == 5130)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [28]:
#stores open in 2015 that were not open in 2016
only_2015 = set(df.loc[(df["Year"] == 2015), "Store Number"]) - set(df.loc[(df["Year"] == 2016), "Store Number"])
print(only_2015)

{4610, 3591, 4112, 4625, 5136, 5139, 4121, 5156, 2599, 5161, 3631, 5168, 4672, 4681, 5193, 4683, 5201, 4691, 4188, 3682, 3692, 4729, 4247, 2205, 4776, 4778, 4270, 3761, 4276, 4288, 4811, 4812, 4307, 4308, 4322, 4834, 4335, 3826, 4855, 4860, 4349, 4870, 4881, 3864, 4889, 4386, 4920, 9018, 2367, 4425, 4939, 4432, 3925, 4954, 3437, 3440, 3451, 4990, 3969, 3970, 3973, 2951, 4488, 2953, 2954, 2955, 2956, 2958, 2959, 5008, 2961, 2962, 2963, 4497, 4507, 2460, 5026, 5030, 5032, 5033, 4012, 5036, 5038, 2487, 5053, 4030, 5056, 3529, 4567, 4059, 4572, 5084, 5085, 5093, 4071, 4583, 4586, 4085}

In [33]:
len(only_2015)

98